/*GENERAL SECTION*/
html {
    scroll-behavior: smooth;
}
body {
    color: white;
    background: black;
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}
.content-1 {
    height: 100vh;
    padding: 0px;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
#white {
    color: white;
}
a {
    text-decoration: none;
}
/*Nav-bar CSS*/
#navigation-bar ul {
    text-align: center;
    padding: 20px;
    margin: 0px;
    background-color: rgb(20, 20, 20);
}
#navigation-bar ul li {
    display: inline;
    margin: 0px 60px 0px 60px;
}
#navigation-bar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.4s;
}
#navigation-bar ul li a:hover {
    color: rgb(196, 159, 39);
}
/*Intro CSS*/
#intro-wrap {
    background-image: url(images/bg_img.jpg);
    background-size: 100% 100%;
    height: 92vh;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#name_intro {
    padding-left: 10px;
    margin-top: 10vh;
    margin-bottom: 20vh;
}
#quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    background-color: black;
    color: grey;
    padding: 5px;
}
#highlight {
    color: rgb(196, 159, 39);
    text-decoration: none;
}
/*About CSS*/
#about-me {
    text-align: center;
}
.about-list {
    padding: 0px;
    text-align: center;
    list-style: none;
}
.about-list li {
    width: 250px;
    text-align: center;
    padding: 0px 50px 0px 50px;
    display: inline-block;
}
.about-list img{
    background-color: rgb(196, 159, 39);
    padding: 10px;
    border-radius: 20px;;
    height: 50px;
    width: auto;
}
.about-list h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.about-list p {
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
#why-me-video {
    width: 50vw;
    height: 240;
}
#skills li {
    width: auto;
}
/*Career CSS*/
#career p {
    padding-left: 20vw;
    padding-right: 20vw;
}
#career img {
    display: block;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
/*Career CSS*/
#experience-list img {
    padding: 0px;
}
#projects-list {
    text-align: center;
    list-style: none;
}
/*Goals CSS*/
#goals p {
    padding-left: 10vw;
    padding-right: 10vw;
}
/*Footer CSS*/
#footer-wrap {
    padding: 10px;
    background-color: rgb(20, 20, 20);
    text-align: center;
}
#footer-wrap ul {
    margin: 0px;
    padding: 10px;
}
#footer-wrap ul li {
    display: inline;
}
#footer-wrap ul li img {
    background-color: rgb(196, 159, 39);
    background-size: cover;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20%;
    transition: transform 0.2s;
}
footer ul li img:hover {
    transform: scale(1.1);
}