/*GENERAL SECTION*/

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 14px;
    background-color: white;
    color: black;
    
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/*INTRO SECTION*/

#intro-wrap {
    padding: 0px;
    margin: 0px;
    background-image: url(images/introbg.png);
    background-size: 100% 100%;
    height: 92vh;
    text-align: center;
    color: white;
}

#intro-wrap h1 {
    margin: 20px 20px 0px 20px;
}

#intro-wrap p {
    margin: 0px 20px 20px 20px;
    font-size: 20px;
}

#intro-profileimg {
    height: 200px;
    margin: 50px 0 0 0;
    border-radius: 100px;
}

#intro-wrap ul {
    padding: 0px;
    margin: 0px;
}

#intro-wrap ul li {
    display: inline;
}

#intro-wrap ul li img {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: black;
    height: 40px;
    transition: transform 0.2s;
}

#intro-wrap ul li img:hover {
    transform: scale(1.1);
}

/*NAVBAR SECTION*/

#navigation-bar ul {
    text-align: center;
    padding: 20px;
    margin: 0px;
    background: #382636;
}

#navigation-bar ul li {
    display: inline;
    margin: 0px 60px 0px 60px;
}

#navigation-bar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.4s;
}

#navigation-bar ul li a:hover {
    color: #EF75DF;
}

/*CONTENT SECTION*/

.content {
    padding: 10px;
    height: 100vh;
}

.content h1 {
    border-bottom: 5px solid #382636;
    text-align: center;
}

.content h2 {
    text-decoration: underline;
}

.content p {
    text-indent: 50px;
    font-size: 15px;
}

/*ABOUT ME*/

#about-me img {
    float: right;
    height: 97vh;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
}

/*FOOTER SECTION*/

footer {
    background-color: #382636;
    text-align: center;
}

footer p {
    padding: 10px;
    margin: 0px;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

footer ul li {
    display: inline;
}

footer ul li img {
    padding: 10px;  
    margin: 0px 10px 5px 10px;
    border-radius: 10px;
    height: 40px;
    background-color: grey;
    transition: transform 0.2s;
}

footer ul li img:hover {
    transform: scale(1.1);
}

/*BACK TO TOP BUTTON*/

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    background-color: #644260; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    padding: 10px;
}

#myBtn img {
    height: 40px;
    padding: 0px;
}